.container {
  display: flex;
  flex-direction: column;

  .create-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  .dynamic-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin: 5px;
  }
  .chkbox-values {
    display: flex;
    flex-direction: column;
  }
}
